extends layout

block content
  h2.text-3xl.mb-10 Lisa uus arve
  form(action="add-bill" method="POST" enctype="multipart/form-data")
    fieldset
      legend Arve saajad:
      .border.max-w-xs.mb-4.px-2
        each member in members
          .flex.items-center.mb-1
            input.mr-2(type="checkbox" name="recipients" value=member._id id=member._id)
            label(for=member._id)= member.details.name

    .block.mb-4
      label.mr-2(for="sum") Arve summa (ilma KM-ta):
      input.border-b-2.w-16(type="number" inputmode="decimal" id="sum" name="sum" step="0.01")
      span €

    .block.mb-4
      label.mr-2(for="discount") Soodustus:
      input.border-b-2.w-16(type="number" inputmode="decimal" id="discount" name="discount" min="0" max="100")
      span %

    .block.mb-4
      label.mr-2(for="vat") Lisa käibemaks
      input(type="checkbox" id="vat" name="addVat")

    .block.mb-4
      label.mr-2(for="date") Arve kuupäev:
      input.border-b-2(type="date" id="date" name="date" value=utils.defaultDate())

    .block.mb-4
      label.mr-2(for="handoverDate") Kättetoimetamise kuupäev:
      input.border-b-2(type="date" id="handoverDate" name="handoverDate" value=utils.defaultDate())

    .block.mb-4
      label.mr-2(for="description") Toote/teenuse tüüp:
      input.border-b-2(type="text" id="description" name="description")

    .block.mb-4
      label.mr-2(for="amount") Toote/teenuse kogus:
      input.border-b-2.w-16(type="number" inputmode="decimal" id="amount" name="amount")
      span tk

    .block.mb-4
      label.mr-2(for="file") Arve fail:
      input(type="file" id="file" name="file")

    input.mt-6.p-1.border.border-gray-500.rounded.bg-transparent.w-12(type="submit" value="Lisa")
