extends layout

block content
  h2.text-3xl.pl-2.mb-3 Arved
  a.m-2.p-1.border.rounded.border-gray-500(href="/add-bill") + Lisa uus
  table.mt-10
    tr
      th.p-2 Selgitus
      th.p-2 Summa €
      th.p-2 Esitatud
      th.p-2 Saajaid
      th.p-2 Lisatud fail
    each bill in bills
      tr
        td.p-2= bill.description
        td.p-2.text-right= bill.sum
        td.p-2= bill.date.toLocaleDateString("et-EE")
        td.p-2.text-right= bill.members.length
        td.p-2
          if bill.file
            a(href=`/public/uploads/${bill.file}`) Lae alla

