extends layout

block content
  h2.text-3xl.pl-2.mb-3 Arved
  a.m-2.p-1.border.rounded.border-gray-500(href="/add-bill") + Lisa uus
  table.mt-10
    tr.text-left
      th.p-1 Arve nr.
      th.p-2 Kirjeldus
      th.p-2 Summa €
      th.p-2 Arve kuupäev
      th.p-2 Saaja
      th.p-2 Lisatud fail
    each bill in bills
      tr
        td.p-2= bill.billNumber
        td.p-2= bill.description
        td.p-2.text-right= utils.getTotalSum(bill)
        td.p-2= bill.date.toLocaleDateString("et-EE")
        td.p-2= bill.recipient ? bill.recipient.details.name : "Tundmatu isik"
        td.p-2.text-center
          if bill.file
            a(href=`/public/uploads/${bill.file}`) Lae alla
          else
            span -

