extends layout

block content
  h2.text-3xl.pl-2.mb-3 Arved
  a(class="m-2 p-1 border rounded border-gray-500 hover:bg-gray-100 cursor-pointer" href="/add-bill") + Lisa uus

  .block.mt-8.mb-4
    label.mr-2(for="search") Otsi:
    input.border-2.rounded(type="text" id="search" name="search")

  table.mb-10.sortable
    thead
      tr.text-left
        th.p-2 Arve nr.
        th.p-2 Saaja
        th.p-2 Kirjeldus
        th.p-2 Summa €
        th.p-2 Makstud €
        th.p-2 Arve kuupäev
        th.p-2 Lisatud fail
        th.no-sort
    tbody
      each bill in bills
        tr(id=bill._id)
          td.p-2= bill.billNumber
          td.p-2= bill.recipient ? bill.recipient.details.name : "Tundmatu isik"
          td.p-2= bill.description
          td.p-2.text-right= utils.getTotalSum(bill)
          td.p-2.text-right= bill.paid
          td.p-2= bill.date.toLocaleDateString("et-EE")
          td.p-2.text-center
            if bill.file
              a(href=`/public/uploads/${bill.file}`) Lae alla
            else
              span -
          td(class="p-2 text-left hover:underline")
            a(href=`/edit-bill?id=${bill._id}`) Muuda

  script.
    const input = document.getElementById("search");
    const bills = !{JSON.stringify(bills)};
    input.addEventListener("input", event => {
      const searchString = event.target.value.toLowerCase();
      const match = bill => {
        return bill.recipient.details.name.toLowerCase().includes(searchString)
          || bill.description.toLowerCase().includes(searchString)
          || new Date(bill.date).toLocaleDateString("et-EE").includes(searchString);
      };
      const matches = bills.filter(match);
      bills.forEach(bill => {
        document.getElementById(bill._id).style.display = matches.includes(bill) ? "table-row" : "none";
      });
    });
