extends layout

block content
  h2.text-3xl.mb-6 Muuda makse detaile
  form(action=`/edit-payment` method="POST")
    .my-2.text-2xl.mb-3=member.details.name
    input.hidden(name="member" value=member._id)

    if member.bills && member.bills.length > 0
      .text-xl.mt-8 1. Maksega seotud arved

      .block.mt-6.ml-4
        label.mr-2(for="search") Otsi:
        input.border-2.rounded(type="text" id="search" name="search")

      table.sortable.mt-4.mb-8.ml-4
        thead
          th.py-2
          th.py-2.pr-2 Arve nr.
          th.p-2 Kirjeldus
          th.p-2 Summa €
          th.p-2 Makstud €
          th.p-2 Kuupäev
          th.no-sort
        tbody
          each bill in member.bills
            tr(class="hover:bg-gray-100" id=bill._id)
              td.py-2
                input(type="checkbox" value=bill._id name="bills" checked=data.bills.includes(bill._id))
              td.py-2.pr-2= bill.billNumber
              td.p-2= bill.description
              td.p-2.text-right= utils.getTotalSum(bill)
              td.p-2.text-right= bill.paid
              td.p-2= bill.date.toLocaleDateString("et-EE")
              td(class="p-2 text-left hover:underline")
                a(href=`/edit-bill?id=${bill._id}`) Vaata
    else
      p Liikmel puuduvad arved

    .text-xl 2. Makse summa
    .block.mt-4.mb-8.ml-4
      label.mr-2(for="amount") Summa (€):
      input.border-2.rounded(type="text" id="amount" name="amount" value=data.sum)

    .text-xl 3. Makse kirjeldus
    .block.mt-4.mb-8.ml-4
      textarea.border-2.rounded(rows=3 cols=50 name="info")= data.info

    .text-xl 4. Makse kuupäev
    .block.mt-4.mb-8.ml-4
      input.border-2.rounded(type="date" name="date" value=utils.dateInputValue(data.date))


    input(class="block mt-4 p-1 rounded bg-transparent border border-gray-500 hover:bg-gray-100 cursor-pointer" type="submit" value="Salvesta")
