extends layout

block content
  h2.text-3xl.mb-10 Muuda liikme andmeid
  form(action=`/edit-member/?id=${member._id}` method="POST")
    .my-2
      label(for="name") Nimi
      input.border-b-2.ml-2(type="text" name="name" value=member.details.name)

    .my-2
      label(for="email") E-mail
      input.border-b-2.ml-2(type="email" name="email" value=member.details.email)

    .my-2
      label(for="phone") Telefon
      input.border-b-2.ml-2(type="tel" name="phone" value=member.details.phone)

    .my-2
      label(for="id-code") Isikukood
      input.border-b-2.ml-2(type="text" name="id-code" inputmode="decimal" value=member.details.idCode)

    .my-2
      label(for="student") Tudeng
      input.border-b-2.ml-2(type="checkbox" name="student" checked=member.details.student)

    .my-2
      label(for="active") Aktiivne
      input.border-b-2.ml-2(type="checkbox" name="active" checked=member.details.active)

    .my-2
      label.mr-2(for="balance") Bilanss:
      input.border-b-2.w-24(type="number" inputmode="decimal" id="balance" name="balance" step="0.01" value=member.balance)
      span €

      input(class="block mt-4 mb-12 p-1 rounded bg-transparent border border-gray-500 hover:bg-gray-100 cursor-pointer" type="submit" value="Salvesta")

  if member.bills.length > 0
    h3.text-xl Liikme arved

    .block.my-4
      label.mr-2(for="search") Otsi:
      input.border-2.rounded(type="text" id="search" name="search")

    table.sortable.my-4
      thead
        th.py-2.pr-2 Arve nr.
        th.p-2 Kirjeldus
        th.p-2 Summa €
        th.p-2 Makstud €
        th.p-2 Kuupäev
        th.no-sort
      tbody
        each bill in member.bills
          tr(class="hover:bg-gray-100" id=bill._id)
            td.py-2.pr-2= bill.billNumber
            td.p-2= bill.description
            td.p-2.text-right= utils.getTotalSum(bill)
            td.p-2.text-right= bill.paid
            td.p-2= bill.date.toLocaleDateString("et-EE")
            td(class="p-2 text-left hover:underline")
              a(href=`/edit-bill?id=${bill._id}`) Vaata
  else
    p Liikmel puuduvad arved

  a(class="bg-red-500 mt-20 mb-10 block text-white w-32 p-1 text-center rounded hover:bg-red-400" href=`/delete-member?id=${member._id}`) Kustuta liige

  script.
    const input = document.getElementById("search");
    const bills = !{JSON.stringify(member.bills)};
    input.addEventListener("input", event => {
      const searchString = event.target.value.toLowerCase();
      const match = bill => {
        return bill.description.toLowerCase().includes(searchString)
          || new Date(bill.date).toLocaleDateString("et-EE").includes(searchString);
      };
      const matches = bills.filter(match);
      bills.forEach(bill => {
        document.getElementById(bill._id).style.display = matches.includes(bill) ? "table-row" : "none";
      });
    });
