extends layout

block content
  h2.text-3xl.mb-10 Muuda liikme andmeid
  form(action=`/edit-member/?id=${member._id}` method="POST")
    div.my-2
      label(for="name") Nimi
      input.border-b-2.ml-2(type="text" name="name" value=member.details.name)

    div.my-2
      label(for="email") E-mail
      input.border-b-2.ml-2(type="email" name="email" value=member.details.email)

    div.my-2
      label(for="phone") Telefon
      input.border-b-2.ml-2(type="tel" name="phone" value=member.details.phone)

    div.my-2
      label(for="id-code") Isikukood
      input.border-b-2.ml-2(type="text" name="id-code" inputmode="decimal" value=member.details.idCode)

    div.my-2
      label(for="student") Tudeng
      input.border-b-2.ml-2(type="checkbox" name="student" checked=member.details.student)

      input.block.mt-4.p-1.rounded.bg-transparent.border.border-gray-500(type="submit" value="Salvesta")
