extends layout

block variables
  - var dateOptions = { day: "2-digit", month: "2-digit" }

block content
  h2.text-3xl.mb-3.ml-2 Liikmed
  a(class="m-2 p-1 border rounded border-gray-500 hover:bg-gray-100 cursor-pointer" href="/add-member") + Lisa uus

  .block.my-6
    dl.grid.grid-cols-2.w-44
      dt.mx-2 Kokku:
      dd.text-right= members.length

      dt.mx-2 Aktiivseid:
      dd.text-right= members.filter(member => member.details.active).length

      dt.mx-2 Tudengeid:
      dd.text-right= members.filter(member => member.details.student).length
    
  .block.mt-8.mb-4
    label.mr-2(for="search") Otsi:
    input.border-2.rounded(type="text" id="search" name="search")

  table.mb-10.sortable
    thead
      tr
        th.p-2.text-left Nimi
        th.p-2.text-left E-mail
        th.p-2.text-left Telefon
        th.p-2.text-left Sünnipäev
        th.p-2.text-left Tudeng
        th.p-2 Bilanss
        th.p-2 Aktiivne
        th.no-sort Valikud
        th.no-sort
    tbody
      each member in members
        tr(class=`${member.details.active ? 'text-black' : 'text-gray-400'}` id=member._id)
          td.p-2= member.details.name
          td.p-2= member.details.email
          td.p-2 #{member.details.phone || "-"}
          td.p-2(data-sort=member.details.birthday) #{member.details.birthday ? member.details.birthday.toLocaleDateString("et-EE", dateOptions) : ""}
          td.p-2 #{member.details.student ? "+" : ""}
          td.p-2.text-right(data-sort=parseFloat(member.balance)) #{member.balance.toFixed(2)} €
          td.p-2 #{member.details.active ? "+" : ""}
          td(class="p-2 hover:underline")
            a(href=`/edit-member/?id=` + member._id) Detailid
          td(class="p-2 hover:underline")
            a(href=`/add-payment/?id=` + member._id) Lisa makse

  script.
    const input = document.getElementById("search");
    const members = !{JSON.stringify(members)};
    input.addEventListener("input", event => {
      const match = member => member.details.name.toLowerCase().includes(event.target.value.toLowerCase());
      const matches = members.filter(match);
      members.forEach(member => {
        document.getElementById(member._id).style.display = matches.includes(member) ? "table-row" : "none";
      });
    });
