extends layout

block content
  h2.text-3xl.mb-3.ml-2 Liikmed
  a(class="m-2 p-1 border rounded border-gray-500 hover:bg-gray-100 cursor-pointer" href="/add-member") + Lisa uus

  .block.my-6
    dl.grid.grid-cols-2.w-52
      dt.mx-2 Kokku:
      dd.text-right= members.length

      dt.mx-2 Aktiivseid:
      dd.text-right= members.filter(member => member.active).length

      dt.mx-2.w-44 Tudengeid (aktiivseid):
      dd.text-right= members.filter(member => member.student && member.active).length
    
  .block.mt-8.mb-4
    label.mr-2(for="search") Otsi:
    input.border-2.rounded(type="text" id="search" name="search")

  table.mb-10.sortable
    thead
      tr
        th.p-2.text-left Nimi
        th.p-2.text-left E-mail
        th.p-2.text-left Telefon
        th.p-2.text-left Sünnipäev
        th.p-2.text-left Isikukood
        th.p-2.text-left Tudeng
        th.p-2 Bilanss
        th.p-2 Aktiivne
        th.no-sort Valikud
        th.no-sort
    tbody
      each member in members
        tr(class=`${member.active ? 'text-black' : 'text-gray-400'}` id=member.id)
          td.p-2= member.name
          td.p-2= member.email
          td.p-2 #{member.phone || "-"}
          td.p-2(data-sort=member.birthdayRaw) #{member.birthday}
          td.p-2= member.idCode
          td.p-2 #{member.student ? "+" : ""}
          td.p-2.text-right(data-sort=parseFloat(member.balanceRaw)) #{member.balance}
          td.p-2 #{member.active ? "+" : ""}
          td(class="p-2 hover:underline")
            a(href=`/edit-member/?id=` + member.id) Detailid
          td(class="p-2 hover:underline")
            a(href=`/add-payment/?id=` + member.id) Lisa makse

  script.
    const input = document.getElementById("search");
    const members = !{JSON.stringify(members)};
    input.addEventListener("input", event => {
      const match = member => member.name.toLowerCase().includes(event.target.value.toLowerCase());
      const matches = members.filter(match);
      members.forEach(member => {
        document.getElementById(member.id).style.display = matches.includes(member) ? "table-row" : "none";
      });
    });
